<a href="https://colab.research.google.com/github/lukebarousse/Python_Tutorial_Data_Analysis/blob/main/Python_Tutorial_Data_Analysis/1_Basics/1_Basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Write Your First Line of Code

In [ ]:
print("Hello, World!")

Hello, World!

# Indentation

## Notes

* Refers to the spaces at the beginning of a code line.
* Indentation is **very** important.
* Python uses indentation to indicate a block of code
* Needed to run the code properly.

## Example

Below this block of code is saying if 5 is greater than 2. Then do the line that's indented, which is print out 'Five is greater than two!'.

In [ ]:
if 5 > 2:
    print("Five is greater than two!")

Five is greater than two!

However, if you don't have an indent on the second line. Python doesn't understand that this second `print()` statement is based on the `if` statement. It will run an error.

In [ ]:
if 5 >2:
print("Five is greater than two!")

IndentationError: expected an indented block after 'if' statement on line 1 (<ipython-input-5-1e4a451bcd10>, line 2)

# Comments

## Notes

* Comments are used to explain Python code
* Help make it more readable
* Can be used to prevent execution when testing code



There are two main types of comments:
1. Single line
2. Multi-line

### Single Line

#### Notes

* These start with a `#`.
* Can be placed at the end of a line.
* Doesn't have to have text to explain the code, can also be used to prevent Python from executing the code.

#### Example

In [ ]:
# This is a comment
print("What's up, Data Nerds!")

print("This is Luke") #This is a comment

# print("Python > SQL")
print("Bye")

What's up, Data Nerds!
This is Luke
Bye

### Multi-Line Comments

#### Notes

* Python technically doesn't have multiline comments like SQL.
* There are ways to do it:
  * Insert `#` for each line
  * Write a multiline string since Python will ignore string literals that aren't assigned to a variable. You'd use:   
  ```
  """
  your comment goes here
  """
  ```

#### Example

In [ ]:
# This is a comment
# written in
# multiple lines
print("What's up, Data Nerds!")

"""
This is a comment
written in
multiple lines
"""
print("This is Luke")

What's up, Data Nerds!
This is Luke

# Variables

## Notes

* A variable is created the moment you assign a value to it.
* Variables don't need to be declared with any *type*.
* Variables can change types even after they've been set.

## Example

* Create variables to store the following information about a job posting:
  * Job ID (integer)
  * Company Name (string)
  * Salary Rate (string, but consider how you might store this as a numerical type for calculations)
  * Job Work From Home (boolean)

In [ ]:
job_id = 101
company_name = "DataWiz Inc."
job_title = "Data Analyst"
salary_rate = 125000
job_work_from_home = True

How do we view the variables we've created? Typically we use the `print()` function. Like so:

In [ ]:
# This won't print out the variable name.
print(job_id)
print(company_name)
print(job_title)
print(salary_rate)
print(job_work_from_home)

101
DataWiz Inc.
Data Analyst
125000
True

# Data Types

## Notes

* Python can store data of different types
* These types can do different things

### Types

Python has the following data types built-in by default:
* Text Type: `str`
* Numeric Types: `int`, `float`, `complex`
* Sequence Types:	`list`, `tuple`, `range`
* Mapping Type:	`dict`
* Set Types:	`set`, `frozenset`
* Boolean Type:	`bool`
* Binary Types:	`bytes`, `bytearray`, `memoryview`
* None Type:	`NoneType`

### Course

But in this course we'll mainly focus on:
* Numeric types
* Sequence types
* Mapping types
* Boolean types

### Documentation

For more information on the different data types in Python check out the Python documentation for data types [here](https://docs.python.org/3/library/datatypes.html).

## Examples

View the data type

In [ ]:
# View the data type
# Of company_name = "DataWiz Inc."
print(type(company_name))

<class 'str'>

Set the specific data type for each variable.

In [ ]:
# Set specific data type
job_id = int(102)
company_name = str("Data Nerd, Inc.")
job_title = str("Data Scientist")
salary_rate = float(170000.00)
job_work_from_home = bool(True)

Check the data types of the variables.

In [ ]:
# Check data types
print(type(job_id))
print(type(company_name))
print(type(job_title))
print(type(salary_rate))
print(type(job_work_from_home))

<class 'int'>
<class 'str'>
<class 'str'>
<class 'float'>
<class 'bool'>

# Operators

## Notes
* Operators are used to perform operations on variables and values.
* Python divides the operators into the followin groups:
  * Arithmetic operators
  * Assignment operators
  * Comparison operators
  * Logical operators
  * Identity operators
  * Membership operators
  * Bitwise operators

## Arithmetic Operators

### Notes

Arithmetic operators are used with numberic values to performa common math operations like:

<br>

| Operator 	| Name           	| Example 	|
|----------	|----------------	|---------	|
| +        	| Addition       	| x + y   	|
| -        	| Subtraction    	| x - y   	|
| *        	| Multiplication 	| x * y   	|
| /        	| Division       	| x / y   	|
| %        	| Modulus        	| x % y   	|
| **       	| Exponentiation 	| x ** y  	|
| //       	| Floor division 	| x // y  	|


<br> Official Python documentation [here](https://docs.python.org/3/library/stdtypes.html#truth-value-testing).

### Examples

Example 1: Simple Addition

You're comparing job offers. Offer A includes a base salary of $50,000 and a signing bonus of $5,000. Calculate the total value of Offer A.

In [ ]:
# Example 1: Simple Addition
base_salary = 50000
signing_bonus = 5000
total_offer = base_salary + signing_bonus
print("Total offer value: $", total_offer)

Total offer value: $ 55000

Example 2: Simple Subtraction

Your yearly budget for data analysis tools is $2,000. You've already spent $1,200. How much of the budget is left?

In [ ]:
# Example 2: Simple Subtraction
total_budget = 2000
spent = 1200
remaining_budget = total_budget - spent
print("Remaining budget: $", remaining_budget)

Remaining budget: $ 800

Example 3: Multiplication

You are planning to buy new books on data science. Each book costs $35, and you want to buy 4 books. How much will the books cost in total?

In [ ]:
# Example 3: Simple Multiplication
book_cost = 35
number_of_books = 4
total_cost = book_cost * number_of_books
print("Total cost for books: $", total_cost)

Total cost for books: $ 140

Example 4: Division

Your data science project received a total of $1,200 funding. The project needs to be completed in 4 months. How much can you spend per month?

In [ ]:
# Example 4: Simple Division
total_funding = 1200
months = 4
monthly_budget = total_funding / months
print("Monthly budget: $", monthly_budget)

## Assignment Operators

## Comparison Operators

## Logical Operators

# Conditional Statements

* `if`
* `elif`
* `else`

## If

Python supports the following logical conditions from math:
* Equals: `a == b`
* Not Equals: `a != b`
* Less than: `a < b`
* Less than or equal to: `a <= b`
* Greater than: `a > b`
* Greater than or equal to: `a >= b`

These conditions can be used in several ways, most commonly in "if statements" and loops.

## Elif

 `Elif` is saying "if the previous conditions were not true, then try this condition"

## Else

`Else` runs if anything before it doesn't run.

## Example

* This script assigns values to variables representing the applicant's years of experience (years_experience) and whether they know Python (knows_python).
* It uses a series of if, elif, and else statements to determine the category. Each condition checks:
  * If the applicant's years of experience are greater than 5 and they know Python, they're categorized as a "Senior Data Scientist".
  * If they have 2 to 5 years of experience and know Python, they're a "Mid-level Data Scientist".
  * If they know Python but have less than 2 years of experience, they're a "Junior Data Scientist".
  * Otherwise, they need further learning.
* Finally, the script prints the category of the applicant.

In [ ]:
# Applicant details
years_experience = 4  # An integer
knows_python = True  # A boolean

# Initialize category as a string
category = "Not Categorized"

# Categorization logic
if years_experience > 5 and knows_python:
    category = "Senior Data Scientist"
elif years_experience >= 2 and knows_python:
    category = "Mid-level Data Scientist"
elif knows_python:
    category = "Junior Data Scientist"
else:
    category = "Needs Further Learning"

# Output
print("Applicant Category:", category)

Applicant Category: Mid-level Data Scientist

# Loops

* `while` loops
* `for` loops

## While

### Notes

* Execute a set of statements as long as the condition is true
* Remember to increment i, or else the loop will continue forever.

## For
* Iterating over a sequence (e.g. list, tuple, dictionary, set, or string).
* execute a set of statements, one for each item in a list, tuple, set etc.

## Example

In [ ]:
# Loops Example

# Practice Problem 1

This is take directly from the Notion. **May change in the future.**

**Basic Data Analysis with Objects, Variables, Data Types, Conditional Statements, and Loops**

## Question

**Objective**: Determine how many job titles contain the phrase "Data Science" without using lists or dictionaries.

- **Instructions**:
    - Create individual string variables for each job title, including some with the phrase "Data Science".
    - Use a **`while`** loop to check each variable sequentially.
    - Use conditional statements to determine if "Data Science" is in each job title.
    - Count and print the number of job titles that contain "Data Science".

This approach will allow practice with strings, conditional statements, and loops, within the constraints of the covered material.

## Solution

* While Loop: The loop starts with `current_job_number` set to 1 and continues as long as `current_job_number` is less than or equal to 5. This ensures that each job title variable is checked.
* Conditional Statements Inside the Loop: Based on the value of `current_job_number`, the code sets `job_title` to the corresponding job title variable. This manual approach replaces the need for a list or dictionary.
* Checking for "Data Science": For each job title, the code checks if the phrase "Data Science" is present. If yes, it increments the `data_science_jobs_count`.
* Incrementing `current_job_number`: After checking a job title, `current_job_number` is incremented to move to the next job title in the subsequent iteration.
* Result: After the loop finishes, the total count of job titles containing "Data Science" is printed.

In [ ]:
# Individual job title variables
job_title1 = "Data Scientist"
job_title2 = "Software Engineer"
job_title3 = "Data Science Manager"
job_title4 = "Machine Learning Engineer"
job_title5 = "Data Analyst"

# Counter for job titles containing "Data Science"
data_science_jobs_count = 0

# Initial condition for the while loop
current_job_number = 1

while current_job_number <= 5:
    # Check the current job title based on current_job_number
    if current_job_number == 1:
        job_title = job_title1
    elif current_job_number == 2:
        job_title = job_title2
    elif current_job_number == 3:
        job_title = job_title3
    elif current_job_number == 4:
        job_title = job_title4
    elif current_job_number == 5:
        job_title = job_title5

    # Check if "Data Science" is in the job title
    if "Data Science" in job_title:
        data_science_jobs_count += 1

    # Increment to check the next job title
    current_job_number += 1

# Print the number of job titles that contain "Data Science"
print(f"Number of 'Data Science' job titles: {data_science_jobs_count}")

Number of 'Data Science' job titles: 1